<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title nmbin - Document
        link(rel="stylesheet", href="/css/document.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
        link(rel="icon" href="/assets/logo.png")
    body
        #navbar
            input#title(class="input" type="text", name="Title", placeholder="Title..." value=document.title disabled)
        textarea#code(
            spellcheck="false"
            placeholder="type here..."
            cols="10"
            rows="10"
            class="lined input"
            disabled
        ) #{document.data}
        p.footer Made by Nimplex, 
            a(href="https://github.com/Nimplex/nmbin" style="color: white") GitHub.