<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title nmbin - #{document.title}
        link(rel="stylesheet" href="/css/document.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
        link(rel="icon" href="/assets/logo.png")
        link(rel="stylesheet" href="/assets/atom-one-dark.css")
        script(src="/js/highlight.pack.js")
        <script>hljs.initHighlightingOnLoad()</script>
    body
        - const cl = `input ${document.language}`

        #navbar
            input#language(
                class="input"
                type="text"
                value=document.language
                disabled
            )
            input#title(
                class="input"
                type="text"
                name="Title"
                placeholder="Title..."
                value=document.title
                disabled
            )
            input#back(
                class="input"
                type="button"
                value="Back"
            )
        pre#code(
            spellcheck="false"
            placeholder="type here..."
            cols="10"
            rows="10"
            class="lined input"
            style="white-space: pre-wrap;"
            disabled
        ) 
            code(class=cl) #{document.data}
    script(src="/js/document.js")
